/*Aparelho Deitado*/

@charset "UTF-8";

body{
   background-image: url(../imagens/cev-landscape.jpg);
   background-position: left bottom;  background-size: contain;
   background-repeat: no-repeat;
}
