@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #D3D3D3;
}
header{
    background-color: #949494;
    padding: 20px;
    
}

header h1{
    text-align: center;
   
}

menu{
    display:none  ;
}

ul >li{
    background-color: rgb(82, 82, 82);
    border: 1px solid gray;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    
}

ul >li:hover{
    background-color: #949494;
}

li >a{
    color: white;
    text-decoration: none;
}


#burguer{
    background-color:rgb(72, 72, 72);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor:pointer
}

#burguer:hover{
    background-color: white;
    color: black;
}


main{
    background-color:white;
    margin: auto;
    display: block;
    width: 90vw;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

article >h2{
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    text-indent: 20px;
}