@charset "UTF-8";

/*Todas as demais mídias*/

/*Tipical Devices BreakPoints
---------------------------
*Pequenas Telas* 600px
celular : 600px - 768px
tablet: 768px - 992px
desktop: 992px - 1200px
tv: acima de 1200px
*/

@media print{
    body{
        background-image: url(../back-print.jpg);
    }
    main{
        border: 1px solid black;
    }

    main >h1{
       color: black;
    }

    main::after{
        counter-increment: 'Site impresso por www.cursoemvideo.com';
    }
    #phone{display: none;}
#tablet{display: none;}
#print{display: block;}
#pc{display: none;}
#tv{display: none;}

}

@media screen and (min-width:768px) and (max-width:992px){ /*Tablet*/
body{
    background-image: url(../back-tablet.jpg);
    
}
#phone{display: none;}
#tablet{display: block;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px){/*Desktop*/
body{
    background-image: url(../back-pc.jpg);
}
#phone{display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display: block;}
#tv{display: none;}
}

@media screen and (min-width:1200px){ /*Telas grandes*/
body{
    background-image: url(../back-tv.jpg);
}

#phone{display: none;}
#tablet{display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: block;}
}


